body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}
.button:hover {
  background-color: #e74246;
}
.button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}
.apps .button {
  background-color: #00ca74;
}
.apps .button:hover {
  background-color: #00bc6c;
}
.apps .button:active {
  background-color: #00aa62;
}
.presentations .button {
  background-color: #efc84a;
}
.presentations .button:hover {
  background-color: #eab534;
}
.presentations .button:active {
  background-color: #e5a722;
}
.filter-button .button {
  background-color: #eeeeee;
}
.filter-button .button:hover {
  background-color: #dfdfdf;
}
.filter-button .button:active {
  opacity: 0.3;
  background-color: #d5d5d5;
}
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  background-color: #eeeeee;
}
.site-navigation {
  list-style: none;
}
.site-navigation a,
.basket {
  color: #000000;
  text-transform: uppercase;
}
.site-navigation a:hover,
.basket:hover {
  color: #fb565a;
}
.site-navigation a:active,
.basket:active {
  color: #000000;
  opacity: 0.3;
}
h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  }
.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.filter-grid ul,
.filter-features ul {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #283136;
}
.service-list h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.service-list b {
  color: #283136;
}
.catalog-item li {
  border: 1px solid rgba(0, 1, 1, 0.1);
}
.catalog-item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.catalog-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}
.discount-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
.discount-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}
.modal {
  display: none;
}
